<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865759547472-m5k5ercrb5ojo7bmb1g43u6gpl66ek2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865759547472-m5k5ercrb5ojo7bmb1g43u6gpl66ek2e</string>
	<key>API_KEY</key>
	<string>AIzaSyDuk-v4AaX6bq2EzZhitvy6Euas4jKYuL8</string>
	<key>GCM_SENDER_ID</key>
	<string>865759547472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opensort.org</string>
	<key>PROJECT_ID</key>
	<string>opensort-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>opensort-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865759547472:ios:608057d0b558499a9e0155</string>
</dict>
</plist>